body{
background-color: white;
color:white;

}	
	
header{
	padding-bottom: 5px;

}



nav{
padding-top:93px;
padding-bottom: 35px;

}

nav a img {
	
}

nav ul li{
	list-style:none;
	text-align:center;
	text-decoration: none;
}
nav ul li a{
	float:left;
	margin:-41px;
	height:90px;
	line-height:62px;
	width: 374px;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../img/birdpixybtn8.png);
	background-repeat: no-repeat;
	background-position: 9px +0px;
	

}	

nav ul li a:hover {
background-image: url(../img/birdpixybtn8.png);
background-repeat: no-repeat;
background-position: 9px -109px;


} 


nav ul li a:active {
background-image: url(../img/birdpixybtn8.png);
background-repeat: no-repeat;
background-position: 9px -223px;


}